@charset "utf-8";

body, h1, h2, h3, h4, h5, h6, p, ul, ol, table, dl, dd {
	margin: 0;
	padding: 0;
}
h1 {
	font-size: 16px;
}
a {
	text-decoration: none;
	color: #000;
}
ul, ol, li {
list-style:none;
}
img {
	max-width: 100%;
	vertical-align: top;
	border: none;
}
html,body {
    position: relative;
    height: 100%;
}
body {
	font-size: 1em;
	font-family: "Open Sans", "Noto Sans KR", sans-serif, Helvetica, Arial;
	color: #404258;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

/* header */
#header {
	position: relative;
	margin: 0 auto; 
	height: 100vh;
	overflow: hidden;
	background-color: #fff;
	transition: height 0.4s;
}
#header .top {
	display: flex;
	justify-content: space-between;
	position: absolute;
	left: 0;
	top: 0; 
	padding: 0 70px;
	z-index: 1001;
	width: 100%;
	height: 75px;
	overflow: hidden;
	background-color: transparent;
	box-sizing: border-box;
	transition: height 0.4s, background-color 0.5s;
}
#header .top:hover {
	height: 300px;
	background-color: #fff;
}
#header h1 {
	padding: 12px;
}
#header .tab { /**/
	display: none;
}
.menu {
   position: fixed;
   left: -100vw;
   top: 0;
   z-index: 10000;
   width: 85vw;
   height: 100vh;
   background-color: #fff;
}
/* controllers */
.controllers {
	position: fixed;
	right: 30px;
	top: 50%;
	z-index: 100;
	margin: 0;
	margin-top: -92px;
	padding: 0;
	width: 14px;
	list-style: none;
}
.controllers li {
	margin-top: 20px;
	width: 14px;
	height: 14px;
}
.controllers li a {
	display: block;
	width: 14px;
	height: 14px;
	text-indent: -9999px;
	background-color: #589db1;
	border-radius: 50%;
}
.controllers li.on a {
	background-color: #fff;
}
/* gnb */
#gnb {
	position:absolute;
	top :0;
	left: 0;
	width: 100%;
	height: 40px;
	text-align: center;
	transition: height 0.6s;
}
#gnb > ul > li {
	display: inline-block;
	position: relative;
}
#gnb > ul > li > a {
	display: block;
	padding: 14px 30px;
	font-size: 0.825em;
	line-height: 40px;
	color:#333;
	font-weight: 600;
}
#gnb > ul > li:hover > a,  
#gnb > ul > li:active > a {
	color : #119DAE;
}
#gnb li ul {
	position: absolute; 
	width: 100%; 
}
#gnb li li a {
	display: block;
	line-height: 38px;
	font-size: 0.875em;
	font-weight: 400;
	text-align: center;
	transition: all 300ms;
}
#gnb li li a:hover,
#gnb li li a:focus {
	text-decoration: underline;
}
#gnb li {
	display: inline-flex;
}
@media only screen and (max-width: 980px) {
	#header .tab { 
		display: block;
		padding: 24px 12px;
	}
	.top h1 {
		display: none;
	}
	#gnb {
		display: none; 
	}
	#header .top {
		padding : 0 25px;
		flex-direction :row-reverse;
	}
	.menu .close {
		position: absolute;
		left: 35px;
		top: 25px;
	}
	#header .top:hover {
		background-color: transparent;
	}
}
/* mobile */
#moblie_gnb {
	padding : 95px 30px;
	overflow-y: auto;  
}
#moblie_gnb > ul > li > a {
	display: block;
	position: relative;
	line-height: 3;
	text-indent: 20px;
	font-size: 14px;
	border-bottom:  1px solid #eaeaea;
}
#moblie_gnb > ul > li:last-child > a {
	border-bottom: none;
}
#moblie_gnb > ul > li.active > a {
	background-color: #0890c0;
	color: #fff;
	border-bottom : none; 
} 
#moblie_gnb > ul > li.active > a::after {
	background-image: url(../image/ico_tab_close.png);
}
#moblie_gnb ul ul {
	display: none; 
	padding: 6px 0;
	background-color: #f4f4f4;
}
#moblie_gnb ul ul a {
	display: block;
	line-height: 2.6;
	text-indent: 20px;
	font-size: 14px; 
}
@media only screen and (orientation: portrait) {
	#moblie_gnb {
		height: calc(100vh - 12em);
	}
}
@media only screen and (orientation: landscape) {
	#moblie_gnb {
		padding: 64px 20px;
		height: calc(100vh - 6em);
	}
}
#moblie_gnb > ul > li > a::after {
    content: "";
    position: absolute;
    right: 1.25em;
    top: 1.125em;
    width: 1.188em;
    height: 1.188em;
    background: url(../image/ico_tab_open.png) no-repeat;
    background-size: cover;
}
/* dim */
.dim {
	display: none;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(0,0,0,.6);
}
.dim.active {
	display: block;
}
@media only screen and (max-width: 980px) {
	#header {
		font-size: 0.875em;
	}
	#gnb {
		display: none;
	}
	#header .top:hover {
		height: none;
	}
}
#header .utils {
	display: block;
	padding: 24px 12px;
}
#header .utils img {
	padding:0 5px;
}
#header .main_slider .swiper-container .video_all {
	height: 100vh;
	overflow: hidden;
}
#header .main_slider .swiper-container .video_all video {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
/* slider */
.main_slider {
	height: 100vh;
}
.main_slider .swiper-container {
	width: 100%;
	height: 100%;
}

.main_slider .swiper-container .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.main_slider .swiper-container .swiper-slide video {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.main_slider .swiper-container .swiper-slide .textbox {
	position: absolute;
	left: 50%;
	top: 30%;
	width: 100%;
	transform: translate(-50%);
	color: #fff;
}
.main_slider .swiper-container .swiper-slide .textbox p {
	margin-top: 50px;
	display: block;
	font-size: 3em;
	line-height: 50px;
	color:#fff;
	opacity: 0;
	transform: translateY(50px);
	transition: transform 0.4s, opacity 0.6s;
	transition-delay: 0.5s;
}
.main_slider .swiper-container .swiper-slide .textbox .desc {
	display: block;
	font-size: 1.125em;
	font-weight: 100;
	color: #fff;
	padding-top:10px;
	opacity: 0;
	transform: translateY(50px);
	transition: transform 0.4s, opacity 0.6s;
	transition-delay: 1s;
}
.main_slider .swiper-container .swiper-slide .textbox .link {
	opacity: 0;
	transform: translateY(50px);
	transition: transform 0.4s, opacity 0.6s;
	transition-delay: 1.5s;
}
.main_slider .swiper-container .swiper-slide.swiper-slide-active .textbox p,
.main_slider .swiper-container .swiper-slide.swiper-slide-active .textbox .desc,
.main_slider .swiper-container .swiper-slide.swiper-slide-active .textbox .link {
	opacity: 1;
	transform: translateY(0);
}
#header .swiper-slide .textbox .link a {
	display: inline-block;
	margin-top: 30px;
	padding: 0 40px;
	font-size: 0.875em;
	font-weight: 300;
	line-height: 32px;
	color:#fff;
	border: 1px solid #fff; 
}
/* sub_slider */
#header .sub_slider {
	position: absolute;
	left: 70px;
	bottom: 70px;
	z-index: 10;
}
#header .sub_slider .rolling_area {
	position: relative;
	width: 240px;
	height: 150px;
	overflow: hidden;
	z-index: 10;
}
#header .sub_slider .rolling_area .video1{
	color: #fff;
	overflow: hidden;
}
#header .sub_slider .rolling_area .video2{
	color: #fff;
	overflow: hidden;
}  
#header .sub_slider .controller .bar {
	position: absolute;
    left: 0;
	bottom: 30px;
	width: 100px;
    height: 2px;
	background: #8e8f90;
	z-index: 10;
}
#header .sub_slider .controller .stop {
	position: absolute;
    left: 45%;
	bottom: 15%;
	display:block;
	width: 16px;
	height: 16px;
	background: url(../image/main-stopbtn.png) 0 0 no-repeat;
	z-index: 10;
}
/* container */
#page1 .container {
	position: relative;
	height: 100vh;
}
#page1 .container .swap_image {
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100vh;
	background: url(../image/Bed\ mian_img.jpg) no-repeat center center;
	background-size: cover;
}
#page1 .container .swap_image .swap_bg{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%; 
	opacity: 0;
	transition: opacity 0.8s ease-in-out;
}
#page1 .container .swap_image .swap_bg.active {
	opacity: 1;
}
#page1 .container .swap_image .swap_bg img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
#page1 .container .banner_list > ul{
	display: flex;
	flex-wrap: nowrap;
	align-content: stretch;
	justify-content:space-between;
	height: 100vh;
}
#page1 .container .banner_list > ul > li {
	position: relative;
	width: calc(100%/4);
	border-right: 1px solid rgba(255, 255, 255, 0.6); 
}
#page1 .container .banner_list li .info_box {
	padding: 180px 40px 0 40px; /**/
}
#page1 .container .banner_list li .info_box .title {
	display: flex;
	flex-wrap: nowrap; 
	justify-content: left;
	font-size: 1.5em;
	line-height: 40px;
	font-weight: 500; 
	color:rgba(255, 255, 255, 0.6);
	margin-top: 20px;
}
#page1 .container .banner_list li .info_box .link {
	display: flex;
	flex-wrap: nowrap; 
	justify-content: center;
	width:65px;
	height:24px;
    font-size: 0.875em;
	font-weight: 300;
	color:rgba(255, 255, 255, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.6);
}
#page1 .container .banner_list li .do_info li p {
	display: block;
}
#page1 .container .banner_list li .do_info {
	padding: 180px 40px 0 40px;
}
#page1 .container .banner_list li .do_info li {
	display: flex; 
	flex-wrap: nowrap;
	justify-content: left;
	padding-bottom: 14px;
}
#page1 .container .banner_list li .do_info .title {
	display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    width: 25%;
    height: 24px;
	font-size: 0.875em;
	font-weight: 300;
	color:rgba(255, 255, 255, 0.6);
}
#page1 .container .banner_list li .do_info .text {
	display: flex;
    flex-wrap: nowrap;
    justify-content: left;
	width: 75%;
	font-size: 0.875em;
	font-weight: 300;
	color:rgba(255, 255, 255, 0.6);
}
#page1 .container .banner_list .btn {
	position: absolute;
	left:10%;
	bottom:10%;
}
#page1 .container .banner_list .btn a {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
	font-size: 0.875em;
	font-weight: 300;
	color:rgba(255, 255, 255, 0.6);
	margin-right: 35px;
}
#page1 .container .banner_list .btn a span {
	padding-left: 30px;
}
#page1 .container .banner_list .btn a.home span {
	background: url(../image/btn_home.png) 0 center no-repeat;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	width: 100%;
	height: 25px;
}
#page1 .container .banner_list .btn a.like span {
	background: url(../image/like.png) 0 center no-repeat;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	width: 100%;
	height: 25px;
}
@media only screen and (max-width: 1080px) {
	.controllers {
		display: none;
	}
	#page1 .container .banner_list .btn a {
		display: inline-block;
		margin-right: 0; 
	}
	#page1 .container .banner_list .btn a:first-child {
		padding-right:5px;
	}
}
@media only screen and (max-width: 980px) {
	#page1 .container .banner_list > ul {
		display: block;
	}
	#page1 .container .banner_list > ul > li {
		border-right:none;
		border-bottom: 1px solid rgba(255, 255, 255, 0.6);
		width: 100%;
		height:33.3vh;
	}
	#page1 .container .banner_list > ul > li:last-child {
		display: none;
	}
	#page1 .container .banner_list li .do_info {
		padding: 33px 0; 
	}
	#page1 .container .banner_list li .do_info li {
		justify-content: center;
	}
	#page1 .container .banner_list li .do_info .title {
		justify-content: right;
		width: 10%;
		padding: 0 20px;
	}
	#page1 .container .banner_list li .do_info .text {
		justify-content: left;
		width: 32%;
	}
	#page1 .container .banner_list li .info_box {
		padding: 0; 
	}
	#page1 .container .banner_list li .info_box .title {
		margin-top:0 ; 
		justify-content: center;
		font-size: 2.5em;
		line-height: 2;
	}
	#page1 .container .banner_list li .info_box .link {
		display: none;
	}
	#page1 .container .banner_list .btn {
		padding: 0; 
		left:40%;
		bottom:5%;
		margin: 0 10px; 
	}
}
@media only screen and (max-width: 768px) {
	#page1 .container .banner_list li .do_info .text {
		justify-content: left;
		width: 50%;
	}
	#page1 .container .banner_list .btn {
		left: 37%;
	}
}
@media only screen and (max-width: 500px) {
	#page1 .container .banner_list .btn {
		left: 32%;
	}
	#page1 .container .banner_list li .do_info {
		padding : 20px 0; 
	}
	#page1 .container .banner_list li .info_box .title {
		font-size: 2em;
		line-height: 2.5;
	}
}
#page2 {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
	background-color: #EFEFEF;
}
#page2 .content {
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: wrap; 
	justify-content: space-between;
	align-items: center;
	width: 1400px;
	height: 100vh;
}
#page2 .content .right_text {
	text-align: right;
}
#page2 .content .right_text strong {
	display: block;
	font-size: 4em;
	letter-spacing: 10px;
	margin-right: -10px;
    margin-bottom: 6px;
}
#page2 .content .right_text .desc {
	display: block;
	font-size: 1.5em; 
}
#page2 .content .right_text .link {
	display: block;
	float: right;
	width: 90px;
	height: 30px;
	line-height: 28px;
	text-align: center;
	border: 1px solid #000;
	margin-top: 120px;
}
#page2 .content .left_area > ul {
	display: flex;
	flex-wrap: nowrap; 
	flex-direction: row;
}
#page2 .content .left_area > ul > li {
	margin-left: 10px;
	width:calc((100% - 20px)/3);
	background: #fff;
	padding: 30px 30px 90px;
	box-shadow: 2px 2px 10px #babecc;
}
#page2 .content .left_area ul li:first-child {
	margin-left: 0;
}
#page2 .content .left_area .title {
	padding-top: 70px;
}
#page2 .content .left_area .title span {
	font-size : 1.5em;
	font-weight: 500;
}
#page2 .content .left_area .do_list {
	padding-top: 70px;
}
#page2 .content .left_area .do_list li a {
	display: block;
	font-size: 0.825em;
	font-weight: 600;
	line-height: 26px;
	color:#666;
}
@media only screen and (max-width: 1100px) {
	#page2 .content {
		justify-content: center;
		height:80vh;
	}
	#page2 .content .right_text {
		text-align:center;
	}
	#page2 .content .right_text .link {
		display: none;
	}
}
@media only screen and (max-width: 980px) {
	#page2 .content .left_area > ul > li {
		width:100%;
	}
}
@media only screen and (max-width: 780px){
	#page2 .content {
		display: block;
		width: 80%;
		height: 100vh;
	}
	#page2 .content .left_area > ul {
		width:80%;
		flex-direction: column;
	}
	#page2 .content .left_area > ul > li {
		padding: 20px 40px;
		margin: 10px 0px;
	}
	#page2 .content .left_area > ul > li:first-child {
		margin-top:23px;
	}
	#page2 .content .left_area > ul > li:nth-child(2) {
		margin-top:0;
	}
	#page2 .content .left_area > ul > li:nth-child(3) {
		margin-top:0;
	}
	#page2 .content .right_text { 
		display: none;
	}
	#page2 .content .left_area .title {
		padding-top:20px;
		text-align: center;
	}
	#page2 .content .left_area .do_list {
		padding-top:40px;
		text-align: center;
	}
	#page2 .content .left_area .do_list li a {
		display: inline-block;
	}
} 
#page3 {
	position: relative;
	height: 100vh;
}
#page3 #map {
	height: 70vh;
}
#page3 .search_box {
	position: absolute;
	bottom:20%;
	right: 146px;
	width: 360px;
	height: 360px;
	background-color: #0890C0;
	box-shadow: 2px 2px 10px #babecc;
	padding:80px 60px;
	box-sizing: border-box;
}
#page3 .search_box span {
	font-size: 1.25em;
	font-weight: 100;
	line-height: 30px;
	text-align: center;
	color: #fff;
}
#page3 .search_box form {
	position: relative;
	margin-top: 80px; 
}
#page3 .search_box input[type=text] {
	width: 200px;
	height: 35px;
	text-indent: 15px;
	font-family: "Open Sans", "Noto Sans KR", sans-serif;
	font-size: 1em;
	color: #fff;
	border: 2px solid #ebebeb;
    box-sizing: border-box;
	box-shadow: none;
} 
#page3 .search_box .zoom {
	margin: 0 auto;
	position: absolute;
	right: 5%;
	top: 20%;
} 
#page3 .search_box .zoom img {
	width: 100%;
}
/* page3 mobile */
@media only screen and (max-width: 780px) {
	#page3 .search_box {
		right:0;
		width: calc(100% - 27px);
		height: 300px;
		padding : 50px;
	}
	#page3 .search_box span {
		text-align: left; 
	} 
	#page3 .search_box input[type=text] {
		width: 100%;
	}
	#page3 .search_box .zoom {
		right: 10px;
	}
}
#footer {
	position: relative;
	padding: 40px 0;
	background-color: #3A3A3A;
}
#footer .inner {
	max-width: 1400px;
	margin: 0 auto;
}
#footer .ft_box {
	display: flex;
	flex-wrap: wrap; 
	align-items: center;
    justify-content: space-between;
}
#footer .ft_box .info li {
	display: inline-flex; 
	flex-wrap: wrap; 
	padding:0 10px;
}
#footer .ft_box .info li a{
   font-size: 0.825em;
   font-weight: 100;
   color:#babecc;
}
#footer .footer_right {
	display: flex;
	flex-wrap: wrap; 
	justify-content: space-between;
	flex-direction: row-reverse;
    align-items: flex-end;
	margin-top: 150px;
}
#footer .footer_right p {
   font-size: 0.825em;
   font-weight: 100;
   line-height: 24px;
   color:#babecc;
}
#footer .footer_right .adress span {
   font-size: 0.825em;
   font-weight: 100;
   line-height: 24px;
   color:#babecc;
   text-align: right;
}
@media only screen and (max-width: 780px) {
	#footer .ft_box {
		justify-content : center; 
	}
	#footer .ft_box .ft_logo {
		display: none;
	}
	#footer .footer_right {
		flex-direction: column-reverse;
	}
}
